nav {
    color: black
}

.background
{
  background-image: url('https://media.giphy.com/media/pVGsAWjzvXcZW4ZBTE/giphy.gif');
  margin: 0 auto;
  background-size: 100%
}

.single-page {
  padding: 60px;
  min-height: 520px;
}

.footer {
  background-color: black;
  border-top-style: solid;
  height: 50px;
  font-family: MedievalSharp;
}