<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">App de Teste</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class='background'>
  <div class='single-page'>
    <router-outlet></router-outlet>
  </div>
</div>
