nav {
    color: black
}

.nav-a {
  color: orange;
  font-family: MedievalSharp;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  border-top-style: solid;
  height: 50px;
  font-family: MedievalSharp;
}
