<div class="card center-position card-color" style="width: 25rem;">
    <img src="https://media1.tenor.com/images/334a7e7d37add71a9cb7485335a1e795/tenor.gif?itemid=13261017" class="card-img-top" alt="...">
    <div class="medieval-font" style="text-align: center;">
        <h4 style="background-color: black; color: brown;"> Cadastrar produto </h4>
    </div>
    <div class="card-body">
        <form #idCadastroProduto="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="medieval-font" for="nome-produto">Nome do jogo</label>
                <input [(ngModel)]="nomeProduto" class="form-control medieval-font" name="nome-produto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o nome do produto">
            </div>
            <div class="form-group">
                <label class="medieval-font" for="nome-produto">Preço (R$)</label>
                <input type="number" [(ngModel)]="preco" class="form-control medieval-font" name="nome-produto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o valor do produto">
            </div>
            <div class="form-group">
                <label class="medieval-font" for="nome-produto">Plataforma</label> <br/>
                <select class="combo-categoria-plataforma" [(ngModel)]="plataforma" name="comboPlataforma" id="category">
                    <option value="" disabled selected>Selecione a plataforma</option>
                    <option *ngFor="let item of plataformas" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="medieval-font" for="nome-produto">Categoria</label> <br/>
                <select class="combo-categoria-plataforma" [(ngModel)]="categoria" name="comboCategoria" id="category">
                    <option value="" disabled selected>Selecione a categoria</option>
                    <option *ngFor="let item of categorias" [value]="item">{{ item }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="medieval-font" for="nome-produto">Imagem (Link)</label>
                <input [(ngModel)]="fotoCapa" class="form-control medieval-font" name="foto-produto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="INsira a Url da foto de capa">
            </div>
            <div class="btn-position">      
                <button type="submit" class="btn btn-primary medieval-font" style="background-color: black">Cadastrar</button>
            </div>
        </form>
    </div>
</div>