<div class="card center-position card-color" style="width: 27rem;">
  <img src="https://i.pinimg.com/originals/6d/3d/1f/6d3d1f9f68862b92bb2c4e23ab145825.gif" class="card-img-top" alt="...">
  <div class="medieval-font" style="text-align: center;"> 
    <h4  style="background-color: black; color: brown;"> Login </h4>
  </div>
  <div class="card-body">
    <form #cadastroForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="medieval-font" for="exampleInputEmail1">Endereço de E-mail</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control medieval-font" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
      </div>
      <div class="form-group">
        <label class="medieval-font" for="exampleInputPassword1">Senha</label>
        <input [(ngModel)]="senha" name="senha" type="password" class="form-control medieval-font" id="exampleInputPassword1" placeholder="Senha">
      </div>
      <sub>esqueceu a sua senha?</sub>
      <div class="btn-position">
        <button type="submit" class="btn btn-primary medieval-font" style="background: black">Entrar</button>
      </div>
    </form>
  </div>
</div>