div {
    position: absolute;
    width: 160px;
    background-color: rgb(223, 186, 145);
    padding: 10px;
    border-style: double;
    border-color: gray;
    border-width: 5px;  
    text-align: right;
    z-index: 10;
}

ul {
}

li {
    /* border-bottom-style: solid;
    border-bottom-color: beige;
    border-bottom-width: 1px;  */
    display: block;
}

a {
    color:black;
    font-family: MedievalSharp;
}